@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

/* GENERAL */

:root {
  --primary-dark: hsl(210, 20%, 22%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: sans-serif;
}

.container {
  max-width: 80rem;
  padding: 1.3rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

figure img {
  animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
  from {
    background-color: hsl(200, 20%, 80%);
  }
  to {
    background-color: hsl(200, 20%, 95%);
  } 
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 200px;
}

h1 {
  font-family: 'Girassol', sans-serif;
  margin: 0;
  letter-spacing: 1px;
  font-size: 2.5rem;
  color: var(--primary-dark);
}

/* INPUT */

form {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

select, button, option {
  cursor: pointer;
  font: inherit;
}

select {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 1.5rem auto;
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));
  grid-gap: 1.5rem;
  padding: 2rem 0;
  border-top: 1px solid var(--primary-dark);
}

figcaption {
  text-align: center;
  color: var(--primary-dark);
}
